.noface {
    background: url(../team/noface.png) no-repeat;
     background-position: center;
}

.ze {
    background: url(../team/ze.png) no-repeat;
     background-position: center;
}

.alexandre {
    background: url(../team/alexandre.png) no-repeat;
     background-position: center;
}

.augusto {
    background: url(../team/augusto.png) no-repeat;
     background-position: center;
}

.nathalia {
    background: url(../team/nathalia.png) no-repeat;
     background-position: center;
}

.milton {
    background: url(../team/milton.png) no-repeat;
     background-position: center;
}

.mariana {
    background: url(../team/mariana.png) no-repeat;
     background-position: center;
}

.bruno {
    background: url(../team/bruno.png) no-repeat;
     background-position: center;
}

.luis {
    background: url(../team/alexandre.png) no-repeat;
     background-position: center;
}
