<aside class="call-to-action bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>The buttons below are impossible to resist.</h3>
        <a href="#" class="btn btn-lg btn-dark">Research Projects</a>
        <a href="#" class="btn btn-lg btn-dark">Tutorials</a>
        <a href="#" class="btn btn-lg btn-dark">Team</a>
        <a href="#publications" class="btn btn-lg btn-dark">Publications</a>
      </div>
    </div>
  </div>
</aside>
