<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Research Interests</h2>
        <hr class="small">
        <div class="row no-gutters"> <!-- alterado de row para row no-gutters -->
     
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Stationary</h2>
                  <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p>
                </span>
              </span>
              <img class="img-fluid" src="img/neuro.png" alt="">
            </a>
          </div>
          
          <!-- tira fora 
          <div class="col-md-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/neuro.png" height="200" width="200">
              <h3>Neuroscience</h3>
            </div>
          </div>
          isso daqui -->
          
          <div class="col-md-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/fmri_brain.jpg" height="300" width="300">
              <h3>fMRI</h3>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/machine-learning-cybersecurity-applications.png" height="350" width="300">
              <h3>Machine Learning</h3>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/brain_icon.png" height="200" width="200">
              <h3>dont know</h3>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
