<!-- Research Projects -->
<script src="js/modal.js" ></script>
{% include team/popup.html %}</div>
<section id="projects" class="services bg-primary">
<!-- ########## Pop-up de todos ################### -->
<div class="container">
    <script src="js/modal.js" ></script>
    
<!-- ############################### PROJECTS ######################################## -->
<div class="row text-center">
    <div class="col-lg-10 col-lg-offset-1">
        <h3>Research Projects</h3>
        <hr class="small">
        <div class="slick1">
            <div class="item2"><div w3-include-html="projects/viva.html"></div></div> 
        </div>
        <!-- /.row (nested) -->
    </div>
    <!-- /.col-lg-10 -->
</div>
<!-- /.row -->
<!-- ################################################################################################## -->


</div>
<!-- /.container -->
</section>
