<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/custom.js"></script> 
<script src="js/modal.js"></script> 
<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>

<!-- <script>
$(document).ready(function() {
        // Fill modal with content from link href
        $(".openModal").on("click", function(e) {
            var link = $(this).data("href");
        $('#popup').modal("show");
        $('#popup .modal-body').load(link );

        });
    })
</script>-->

<!-- Swiper JS -->
<script src="js/swiper.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper1 = new Swiper('.swiper1', {        
        slidesPerView: 4,
        paginationClickable: true,
        spaceBetween: 20,
        nextButton: '.swiper-button-next1',
        prevButton: '.swiper-button-prev1',
        freeMode: true,
        //autoHeight:true,
     });
    var swiper2 = new Swiper('.swiper2', {
        slidesPerView: 4,
        slidesPerColumn: 2,
        paginationClickable: true,
        spaceBetween: 20,
        nextButton: '.swiper-button-next2',
        prevButton: '.swiper-button-prev2',
        freeMode: true,
        setWrapperSize:true,
        height:500,
    });
    var swiper3 = new Swiper('.swiper3', {
        slidesPerView: 4,
        slidesPerColumn: 2,
        paginationClickable: true,
        spaceBetween: 20,
        direction: 'vertical',
        pagination: '.swiper-pagination',
        freeMode: true,
        //autoHeight:true,
    });
</script>

<script src="js/modal.js" ></script>

<script> 
  $(function(){
    var includes = $('[data-include]');
    jQuery.each(includes, function(){
      var file = 'team/' + $(this).data('include') + '.html';
      $(this).load(file);
    });
  });
</script>
