<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/custom.js"></script> 
<script src="js/modal.js"></script> 
<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>

<!-- <script>
$(document).ready(function() {
        // Fill modal with content from link href
        $(".openModal").on("click", function(e) {
            var link = $(this).data("href");
        $('#popup').modal("show");
        $('#popup .modal-body').load(link );

        });
    })
</script>-->

<!-- Swiper JS -->
<script src="js/swiper.min.js"></script>

<!-- Initialize Swiper -->
<script>
    $(window).resize(function(){
        mySwiper.reInit() // or mySwiper.resizeFix()
});
    var mySwiper1 = new Swiper('.swiper-container', {        
        slidesPerView: 4,
        slidesPerColumn: 2,
        paginationClickable: true,
        spaceBetween: 20,
        //pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        calculateHeight:true,
        freeMode: true
    });
    var mySwiper2 = new Swiper('.mySwiper2', {        
        slidesPerView: 4,
        slidesPerColumn: 2,
        paginationClickable: true,
        spaceBetween: 20,
        //pagination: '.swiper-pagination2',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        calculateHeight:true,
        freeMode: true
});
</script>

<script src="js/modal.js" ></script>

<script> 
  $(function(){
    var includes = $('[data-include]');
    jQuery.each(includes, function(){
      var file = 'team/' + $(this).data('include') + '.html';
      $(this).load(file);
    });
  });
</script>
