<!-- jQuery 
<script src="js/jquery.js"></script>-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://rawgit.com/kenwheeler/slick/master/slick/slick.js"></script>
<script src="js/csi.min.js" ></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/custom.js"></script> 
<script src="js/modal.js"></script> 

<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>

<script>
$('#myModal').on('hidden', function () {
  $(this).removeData('modal');
});
</script>

<script> 
  $(function(){
    var includes = $('[data-include]');
    jQuery.each(includes, function(){
      var file = 'team/' + $(this).data('include') + '.html';
      $(this).load(file);
    });
  });
</script>


<script>
$(".slider").slick({
             dots: true,
             arrows: true,
             infinite: false,
             speed: 300,
             slidesToShow: 4,
             slidesToScroll: 4, });
$('.slick1').slick({
             rows: 2,
             dots: true,
             arrows: true,
             infinite: false,
             speed: 300,
             slidesToShow: 4,
             slidesToScroll: 4, });
</script>
