
<!-- Team names and photos -->
<section id="services" class="services bg-primary">
<!-- ########## Pop-up de todos ###################  -->
<div data-include="popup"></div>
<div class="container">
<div class="row text-center">
    <div class="col-lg-10 col-lg-offset-1">
        <h3>Faculty</h3>
        <hr class="small">         
            <!-- Swiper -->
         <div id="slick1">
            <div class="item">
                <div data-include="ze"></div>
            </div>
            <div class="item">
                <div data-include="nathalia"></div>
            </div>
            <div class="item">
                <div data-include="milton"></div>
            </div>
            <div class="item">
                <div data-include="mariana"></div>
            </div>
            <div class="item">
                <div data-include="bruno"></div>
            </div>
            <div class="item">
                <div data-include="noface"></div>
            </div>
            <div class="item">
                <div data-include="noface"></div>
            </div>
            <div class="item">
                <div data-include="noface"></div>
            </div>
            <div class="item">
                <div data-include="noface"></div>
            </div>
            <div class="item">
                <div data-include="noface"></div>
            </div>
            <div class="item">
                <div data-include="noface"></div>
            </div>
            <div class="item">
                <div data-include="noface"></div>
            </div>
            <div class="item">
                <div data-include="noface"></div>
            </div>
            <div class="item">
                <div data-include="noface"></div>
            </div>
            <div class="item">
                <div data-include="noface"></div>
            </div>
            <div class="item">
                <div data-include="noface"></div>
            </div>
            <div class="item">
                <div data-include="noface"></div>
            </div>
            <div class="item">
                <div data-include="noface"></div>
         </div>
    </div>
  <!-- /.col-lg-10 -->
</div>
<!-- /.row -->


<!-- ###############################GRADUATE STUDENTS######################################## -->
<div class="row text-center">
    <div class="col-lg-10 col-lg-offset-1">
        <h3>Graduate Students</h3>
        <hr class="small">
            <!-- Swiper -->
            
        <!-- /.row (nested) -->
    </div>
    <!-- /.col-lg-10 -->
</div>
<!-- /.row -->
<!-- ################################################################################################## -->


<!-- ###############################UNDERGRADUATE STUDENTS######################################## -->

<div class="row text-center">
    <div class="col-lg-10 col-lg-offset-1">
        <h3>Undegraduate Students</h3>
        <hr class="small">
            <!-- Swiper -->
            
        <!-- /.row (nested) -->
    </div>
      <!-- /.col-lg-10 -->
</div>
<!-- /.row -->
<!-- ################################################################################################## -->


</div>
<!-- /.container -->
</section>
