<!-- Team names and photos -->
<section id="services" class="services bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Faculty</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <div w3-include-html="team/alexandre.html"></div>    
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <div w3-include-html="team/noface.html"></div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <div w3-include-html="team/noface.html"></div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <div w3-include-html="team/noface.html"></div>
            </div>
          </div>
       </div>
         <!-- /.row (nested) -->
       </div>
       <!-- /.col-lg-10 -->
     </div>
     <!-- /.row -->

<div class="container">
  
    <h1>Bootstrap 3 Carousel Multiple Items Increment by 1</h1>

     
   
<!--  <a rel="nofollow" rel="noreferrer"href="https://github.com/rtpHarry/Bootstrap3-ShowManySlideOneCarousel">this code sample</a>   -->
<div class="row">
   <div class="col-md-12">
      <div class="carousel carousel-showmanymoveone slide" id="carousel-tilenav" data-interval="false">
         <div class="carousel-inner">
            <div class="item active">
               <div class="col-xs-12 col-sm-6 col-md-2">
                  <a rel="nofollow" rel="noreferrer"href="#"><img src="http://placehold.it/500/0054A6/fff/&text=1" class="img-responsive"></a>
               </div>
            </div>
            <div class="item">
               <div class="col-xs-12 col-sm-6 col-md-2">
                  <a rel="nofollow" rel="noreferrer"href="#"><img src="http://placehold.it/500/002d5a/fff/&text=2" class="img-responsive"></a>
               </div>
            </div>
            <div class="item">
               <div class="col-xs-12 col-sm-6 col-md-2">
                  <a rel="nofollow" rel="noreferrer"href="#"><img src="http://placehold.it/500/d6d6d6/333&text=3" class="img-responsive"></a>
               </div>
            </div>
            <div class="item">
               <div class="col-xs-12 col-sm-6 col-md-2">
                  <a rel="nofollow" rel="noreferrer"href="#"><img src="http://placehold.it/500/002040/eeeeee&text=4" class="img-responsive"></a>
               </div>
            </div>
            <div class="item">
               <div class="col-xs-12 col-sm-6 col-md-2">
                  <a rel="nofollow" rel="noreferrer"href="#"><img src="http://placehold.it/500/0054A6/fff/&text=5" class="img-responsive"></a>
               </div>
            </div>
            <div class="item">
               <div class="col-xs-12 col-sm-6 col-md-2">
                  <a rel="nofollow" rel="noreferrer"href="#"><img src="http://placehold.it/500/002d5a/fff/&text=6" class="img-responsive"></a>
               </div>
            </div>
            <div class="item">
               <div class="col-xs-12 col-sm-6 col-md-2">
                  <a rel="nofollow" rel="noreferrer"href="#"><img src="http://placehold.it/500/eeeeee&text=7" class="img-responsive"></a>
               </div>
            </div>
            <div class="item">
               <div class="col-xs-12 col-sm-6 col-md-2">
                  <a rel="nofollow" rel="noreferrer"href="#"><img src="http://placehold.it/500/40a1ff/002040&text=8" class="img-responsive"></a>
               </div>
            </div>
         </div>
         <a rel="nofollow" rel="noreferrer"class="left carousel-control" href="#carousel-tilenav" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
         <a rel="nofollow" rel="noreferrer"class="right carousel-control" href="#carousel-tilenav" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
   </div>
</div>

   
</div>

    <!-- ###############################GRADUATE STUDENTS######################################## -->
    
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Graduate Students</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <div w3-include-html="team/ze.html"></div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <div w3-include-html="team/noface.html"></div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <div w3-include-html="team/noface.html"></div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <div w3-include-html="team/noface.html"></div>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
    <!-- ################################################################################################## -->
    
    
    <!-- ###############################UNDERGRADUATE STUDENTS######################################## -->
    
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Undergraduate Students</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <div w3-include-html="team/noface.html"></div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <div w3-include-html="team/noface.html"></div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <div w3-include-html="team/noface.html"></div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <div w3-include-html="team/noface.html"></div>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
    <!-- ################################################################################################## -->
    
   
    
  </div>
  <!-- /.container -->
</section>
