<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
        <div class="divTable paleBlueRows" style="color:black">
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableCell">Name:</div>
                    <div class="divTableCell"></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">Advisor:</div>
                    <div class="divTableCell"></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">Research interest:</div>
                    <div class="divTableCell"></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">E-mail:</div>
                    <div class="divTableCell"></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">Personal hobbies:</div>
                    <div class="divTableCell"></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">Others things:</div>
                    <div class="divTableCell"></div>
                </div>
            </div>
        </div>
        <div align="right"><a class="btn btn-primary" href="#" target="_blank">See CV</a></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>
